@charset "utf-8";

/* SCSS Document */

@media screen and (min-width: 850px) {
    #restaurants-list li {
        width: calc((90% - 15px) / 2);
    }
    #restaurants-list {
        margin-left: 30px;
    }
}

@media screen and (min-width: 1650px) {
    #restaurants-list li {
        width: calc((70% - 15px) / 3);
    }
}

@media screen and (min-width: 800px) {
    #restaurant-container {
        width: 49%;
        vertical-align: top;
        display: inline-block;
    }
    .restaurant-table {
        width: 49%;
        order: 1;
        display: inline-block;
        vertical-align: middle;
        margin-top: 80px;
    }
    .restaurant-table td,
    th {
        height: 10px;
        font-size: 10pt;
    }
    #restaurant-img {
        padding: 10px 5px 10px 15px;
    }
}

@media screen and (min-width: 1000px) {
    #restaurant-container {
        width: 49%;
        vertical-align: top;
        display: inline-block;
    }
    .restaurant-table {
        width: 49%;
        order: 1;
        display: inline-block;
        vertical-align: middle;
        margin-top: 80px;
    }
    .restaurant-table td,
    th {
        height: 30px;
        font-size: 14pt;
    }
    #restaurant-img {
        padding: 10px 5px 10px 15px;
    }
}

@media screen and (min-width: 1500px) {
    #restaurant-container {
        width: 49%;
        vertical-align: top;
        display: inline-block;
    }
    .restaurant-table {
        width: 49%;
        order: 1;
        display: inline-block;
        vertical-align: middle;
        margin-top: 80px;
    }
    .restaurant-table td,
    th {
        height: 40px;
        font-size: 16pt;
    }
    #restaurant-img {
        padding: 10px 5px 10px 20px;
    }
}

@media screen and (max-width: 375px) {
    h1 {
        font-size: 9pt;
    }
}